/*estilos del index*/

.card{
	width: 400px;
	height: 400px;
	/*margin-bottom: 60px;*/
	margin: auto;
}

.card-content p{
	text-align: center;
	font-size: 25px;
	padding: 50px;
	
}

.card-content h1{
	text-align:center;
	font-size: 25px;
	padding: 30px;
}

.waves-effect{
	margin-left: 80px;
}

/*.contenedor{
	width: 960px
}*/