.fondo{
       background: #fff url("imagenes/FondoLogin.png")no-repeat fixed center ;
}
#boton{
	width:100%;
	margin-top: 5px;
	margin-bottom: 20px;
}

#formulario{
	border-radius:10px;
	margin-top:5%;
	background-color: #eceff1;
}


/*cristian*/

#centro{
	margin-top: 50px;
	border-radius: 15px;
	background-color:#eceff1;
	padding-bottom: 20px;
}
#btnreg{
	margin-bottom: 15px;
}

#lgn-rec{
	margin-top:10px;
}
.footer{
	margin-bottom: 0px;
}


/*Crsitian*/

/*estilos del index*/

.card{
	width: 400px;
	height: 400px;
	/*margin-bottom: 60px;*/
	margin: auto;
}

.card-content p{
	text-align: center;
	font-size: 25px;
	padding: 50px;
	
}

.card-content h1{
	text-align:center;
	font-size: 25px;
	padding: 30px;
}

.btn-buscar{
	margin-left: 80px;
}

/*.contenedor{
	width: 960px
}*/
