/*estilos de los componentes de la pagina inicial*/
#menu {
	height: 100px;
	margin-bottom: 50px;

}


#menu a{
	margin-top: 30px;
	
}

.acerca{
	line-height: 30px;
}

.inicio{
	margin-right: 150px;
}

.acerca{
	margin-right: 100px;
}

.contacto{
	margin-right: 50px;
}

p,a{
	font-size: 20px;
}

.fuente{
	font-size: 20px;
}

/*.btn-buscar{
	background-color: #01579b;
}*/

/*.page-footer{
	position: fixed;
	width: 100%;
	bottom: 0px;

}*/

/*Estilos del menu de sesion_iniciada*/

#dropdown1{
	margin-top: 80px;
}

/*Estilos del menu de las barberias*/

.inicio_barberias{
	margin-right: 200px;
}

.cortes{
	margin-right: 150px;
}

.servicios{
	margin-right: 100px;
}

.citas{
	margin-right: 50px;
	width: 120px;
}

#dropdown2{
	margin-top: 80px;
}

/*Estilos  Menu del administrador*/

.inicio_administrador{
	margin-right: 140px;
}

.gestionar_usuarios{
	margin-right: 100px;
	width: 200px;
}

.consultar_citas{
	margin-right: 60px;
}

.gestionar_barberia{
	margin-right: 20px;
	width: 200px;

}

#sub_menu_gest_usuario{
	margin-top: 80px;
}

#sub_menu_gest_barberia{
	margin-top: 80px;
}

#submenu_sesion_admin{
	margin-top: 80px;
}