<<<<<<< HEAD
 .fondo{
=======
.fondo{
>>>>>>> origin/master
       background: #fff url("imagenes/FondoLogin.png")no-repeat fixed center ;
}
#boton{
	width:100%;
	margin-top: 5px;
	margin-bottom: 20px;
}

#formulario{
	border-radius:10px;
	margin-top:5%;
	background-color: #eceff1;
}


/*cristian*/
<<<<<<< HEAD

=======
>>>>>>> origin/master

#centro{
	margin-top: 50px;
	border-radius: 15px;
	background-color:#eceff1;
	padding-bottom: 20px;
}
#btnreg{
<<<<<<< HEAD
	margin-bottom: 20px;

}

#lgn-rec{
	margin-top:13px;
=======
	margin-bottom: 15px;
}

#lgn-rec{
	margin-top:10px;
}
.footer{
	margin-bottom: 0px;
>>>>>>> origin/master
}


/*Crsitian*/

<<<<<<< HEAD
/*------------Estilos del index--------------*/
=======
/*estilos del index*/

>>>>>>> origin/master
.card{
	width: 400px;
	height: 400px;
	/*margin-bottom: 60px;*/
	margin: auto;
<<<<<<< HEAD
	margin-top: 30px;
=======
>>>>>>> origin/master
}

.card-content p{
	text-align: center;
	font-size: 25px;
	padding: 50px;
	
<<<<<<< HEAD
	
=======
>>>>>>> origin/master
}

.card-content h1{
	text-align:center;
	font-size: 25px;
	padding: 30px;
}

<<<<<<< HEAD
.btnbuscar{
	margin-left: 80px;
}



=======
.btn-buscar{
	margin-left: 80px;
}

#btncrc{
	margin-right: 10px;
}
/*.contenedor{
	width: 960px
}*/
>>>>>>> origin/master
